<% content_for :title do %>Sign In<% end %>
<h3>Sign In</h3>

<section>
<div class="form">
	<%= simple_form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Sign in", class: "submit" %>
	<% end %>


	<p> New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
</section>	